# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
tfplan

# Generated archives
*.zip

# Python virtualenvs
.venv/
__pycache__/
*.pyc
*.pyo
*.tfstate.*
*uv.lock

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
*logs.txt
